#personal-info {
  width: 40%;
  background-color: #29e;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}

img{
    width: 4cm;
    height: 4cm;
}

#work {
  width: 40%;
  background-color: red;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}

#education {
  width: 40%;
  background-color: green;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}

#skills {
  width: 40%;
  background-color: yellow;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}

#optional {
  width: 40%;
  background-color: orange;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 2%;
  margin: 5%;
}

@media print{
    body{
        margin: 2cm, 2cm, 2cm, 2cm;
        background-color: greenyellow;
    }
}
